<div style="height: 150px; overflow-y: scroll; white-space: pre-wrap">
<b>1. 카카오봇 사용 조항 안내</b>
카카오봇 사용에 있어선 다음 규칙에 어긋나는 행동을 취할 시 강제탈퇴 조취가 이루어집니다.

1) 미풍양속을 해치는 행위 (홈페이지 내/외부에서 서비스를 욕설하는 행위, 홈페이지 내 커뮤니티 수단에서 욕설을 하는 행위 등)
2) 비정상적, 과도한 트래픽
3) 초대 코드 혹은 계정 공유
4) 그 외 3자가 봤을 때 비정상적인 행위라고 판단이 될 때

<b>2. 서비스 정보 수집 안내</b>
해당 서비스에서는 다음과 같은 정보를 수집합니다.
* 사유 : 회원정보 등록
* 회원정보는 회원탈퇴 시, 바로 삭제처리합니다.
1) 이메일 주소 (로그인 ID)
</div>