<%= link_to "암호 분실", new_password_path(resource_name), style: "color: #616161" %>
<span> | </span>
<%= link_to "회원가입", new_user_registration_path, style: "color: #616161" %>
<div style="margin-top:100px;"></div>