/* Input Form 1 */
.form_1 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_1 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_1 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_1 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_1 input:hover {
    background: none;
}

.form_1 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_1 input:focus {
    background: none;
    outline: none;
}

.form_1 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_1 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 2 */
.form_2 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_2 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_2 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_2 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_2 input:hover {
    background: none;
}

.form_2 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_2 input:focus {
    background: none;
    outline: none;
}

.form_2 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_2 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 3 */
.form_3 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_3 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_3 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_3 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_3 input:hover {
    background: none;
}

.form_3 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_3 input:focus {
    background: none;
    outline: none;
}

.form_3 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_3 input:focus + span + .border {
    transform: scaleX(1);
}