<div id="hide_notice" class="alert alert-danger tlert-dismissible fade show text-center" style="display: none; padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>