<div class="board-notice_mobile d-md-none">
  <div class="notice-banner_black-mobile">
    <div class="wow fadeInUp"><%= link_to "공지사항", all_notices_path, class: "board_title" %></div>
  </div>
</div>

<div class="board-notice d-none d-md-block">
  <div class="notice-banner_black">
    <div class="container" align="center">
      <div class="wow fadeInUp"><%= link_to "공지사항", all_notices_path, class: "board_title" %></div>
    </div>
  </div>
</div>