<%# 경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
<% if alert %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% elsif notice %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% elsif @bulletin.errors.any? %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
        제목 혹은 내용을 입력해주세요.
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% end %>