<div class="category_board d-none d-md-block">
    <div class="container" align="left">
        <div class="wow fadeInUp"><%= link_to "카테고리 설정", bulletins_path, class: "board_title" %></div>
    </div>
</div>

<div class="category_board_mobile d-md-none">
    <div class="wow fadeInUp"><%= link_to "카테고리 설정", bulletins_path, class: "board_title" %></div>
</div>