<% require 'devise/version' %>
<div align="center">
    <div align="left" style="border: 3px solid #11A2FE; width: 40%">
        <center><%= link_to(image_tag("#{ENV["HOSTING"]}/img/logo.png", style: "width: 150px; margin-top: 5px;"), "#{ENV["HOSTING"]}") %></center>
        
        <div style="margin-left: 10px; font-family: 'NanumGothic', '나눔고딕', '굴림'; font-size: 14px;">
        <%= t('.greeting', recipient: @resource.email) %> 이제 거의 다왔어요~!<br/>
        아래 인증확인 링크만 누르시면 가입이 됩니다^^<br>
        </div>
        
        <div style="background-color: #75C9FF; margin-top: 10px; padding: 10px; font-family: 'NanumGothic', '나눔고딕', '굴림'; font-size: 12px;" align="center">
            <%= link_to t('.action'), confirmation_url(@resource, confirmation_token: (Devise::VERSION.start_with?('3.') ? @token : @resource.confirmation_token)) %>
        </div>
        
        <div style="margin-left: 10px; margin-top: 20px; font-family: 'NanumGothic', '나눔고딕', '굴림'; font-size: 12px;">
            <span style="background-color: rgb(0, 0, 0); color: rgb(255, 239, 0); font-family: 'NanumGothic', '나눔고딕', '굴림'; font-size: 12px;"><b>&nbsp;주의&nbsp;</b></span>
         메일 확인시 '보낸사람'을 잘 확인하세요! 저희 커뮤니티에서 이메일을 보낼 시, 'kbs4674@likelion.org'으로 보냅니다.<br/>
         혹시 계정 가입 신청을 직접 하신게 아니라면, 해당 메일은 무시하세요!
        </div>
        
        <div style="background-color: #CECECE; margin-top: 10px; padding: 10px; font-family: 'NanumGothic', '나눔고딕', '굴림'; font-size: 12px;" align="center">
            본 메일은 발신 전용으로, 회신이 되지 않습니다.
        </div>
    </div>
</div>